server:
  port: 8001

spring:
  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          lob:
            non_contextual_creation: true

logging:
  level:
    root: INFO

# =========================
# CDN MODE (PROD)
# =========================
cdn:
  mode: r2

# =========================
# Cloudflare R2 (PROD)
# =========================
cloudflare:
  r2:
    bucket: ${CLOUDFLARE_R2_BUCKET}
    endpoint: https://36c9a2d1aec1384629ed8efc2d712f61.r2.cloudflarestorage.com
    public-url: ${CLOUDFLARE_R2_PUBLIC_URL}